.battery-start {
    background-image: url('project://database/Assets/UI%20Images/battery.start.on.png?fileID=2800000&guid=17c3bcdc736f307469abf7385d2dad9f&type=3#battery.start.on');
    width: 71px;
    height: 62px;
    margin-left: -3px;
    margin-right: -1px;
}

.battery-start.off {
    background-image: url('project://database/Assets/UI%20Images/battery.start.off.png?fileID=2800000&guid=baee5d963b0c0644eafb3df93f2128b5&type=3#battery.start.off');
}

.battery-next {
    background-image: url('project://database/Assets/UI%20Images/battery.next.on.png?fileID=2800000&guid=2912e2516b640d240992e0c4816a6151&type=3#battery.next.on');
    width: 71px;
    height: 62px;
    margin-left: -30px;
}

.battery-next.off {
    background-image: url('project://database/Assets/UI%20Images/battery.next.off.png?fileID=2800000&guid=0ff850d1d93feec47adb895a39ca96c8&type=3#battery.next.off');
}

.battery-next.last {
    margin-right: -15px;
}

#BatteryFace.hidden {
    display: none;
}

#BatteryBGCont.hidden {
    display: none;
}

#TimerContainer {
    translate: 0 -214px;
    scale: 0.75;
    opacity: 0;
    transition-property: opacity, scale, translate;
    transition-duration: 2s;
}

#TimerContainer.show {
    scale: 1;
    opacity: 1;
    translate: 0 0;
}

#TimerContainer.hidden {
    display: none;
}

.ability-tip {
    scale: 0.75;
    opacity: 0;
    transition-property: opacity, scale;
    transition-duration: 0.25s;
}

.ability-tip.show {
    scale: 1;
    opacity: 1;
}

.ability-tip.hidden {
    display: none;
}

.modal {
    scale: 0.75;
    opacity: 0;
    transition-property: opacity, scale;
    transition-duration: 0.25s;
}

.modal.show {
    scale: 1;
    opacity: 1;
}

.modal.hidden {
    display: none;
}

#PauseBG {
    scale: 0.75;
    opacity: 0;
    transition-property: opacity, scale;
    transition-duration: 0.25s;
}

#PauseBG.show {
    scale: 1;
    opacity: 1;
}

#PauseBG.hidden {
    display: none;
}

#VictoryBG {
    scale: 0.75;
    opacity: 0;
    transition-property: opacity, scale;
    transition-duration: 0.25s;
}

#VictoryBG.show {
    scale: 1;
    opacity: 1;
}

#VictoryBG.hidden {
    display: none;
}

.lower-left {
    transition-property: translate, scale;
    transition-duration: 0.25s;
}

.lower-left.hidden {
    translate: -700px 0;
    scale: 0;
}

#CutsceneText {
    transition-property: translate, scale;
    transition-duration: 1s;
}
